@ms-z-index: var(--ms-z-index, 20);

.ms-container {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.ms-track-box {
  position: sticky;
  top: 100%;
  left: 0;
  z-index: @ms-z-index;
}

.ms-track-global {
  position: relative;
  z-index: @ms-z-index;

  .ms-track {
    position: fixed;
  }
}

.ms-theme-white {
  --ms-track-background: rgba(248, 248, 248, 0.76);
  --ms-track-border-color: #dfdfdf;
  --ms-thumb-color: rgba(0, 0, 0, 0.5);
}

.ms-theme-dark {
  --ms-track-background: rgba(210, 210, 210, 0.14);
  --ms-track-border-color: rgba(228, 228, 228, 0.32);
  --ms-thumb-color: rgba(255, 255, 255, 0.5);
}
